<!DOCTYPE html>
<html>
<head>
  <title>EasyApi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="user_nav">
  <% if current_user %>
    <img src=<%= current_user.image %> />
    Signed in as <%= current_user.name %>!
    <%= link_to "Sign out", signout_path %>
  <% else %>
    <%= link_to "Sign in with Github", "/auth/github" %>
  <% end %>
</div>
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, id: "flash_#{name}" %>
<% end %>

<%= yield %>

</body>
</html>
